body {
    margin: 0;
    font-family: 'Noto Sans KR';
}

.fontWhite {
    color:white !important;
}

.backgroundBlack {
    background-color: #000000;
    padding-top: 0.1%;
    padding-bottom: 6%;
}

.alignCenter {
    text-align: center;
}

.centerItems {
    align-items: center;
}

.question {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 46px;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: -0.018em;
    color: #000000;
    padding-top: 110px;
}

.answer {
    display: block;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 46px;
    letter-spacing: -0.018em;
    /* identical to box height, or 125% */
    

    text-align: center;

    color: #1ECCA2;
}

.center {
    background-color: #000000;
    display: block;
    /* position: absolute;
    width: 633px;
    height: 146px;
    left: 404px;
    top: 363px; */
    padding-top: 20%;
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 73px;

    text-align: center;
    letter-spacing: -0.03em;

    color: #FFFFFF;
    padding-bottom: 400px;
}

/* .ellipse17 {
    position: absolute;
    width: 347px;
    height: 347px;
    left: 1199px;
    top: -127px;

    background: radial-gradient(50% 50% at 50% 50%, #1ECC9C 0%, rgba(217, 217, 217, 0) 100%);
    opacity: 0.4;
    }

.ellipse18 {
    position: absolute;
    width: 462px;
    height: 462px;
    left: 1209px;
    top: 569px;

    background: radial-gradient(50% 50% at 50% 50%, #1ECC9C 0%, rgba(217, 217, 217, 0) 100%);
    opacity: 0.4;
} */

.ellipse16 {
    position: absolute;
    width: 536px;
    height: 536px;
    left: -268px;
    top: 20px;

    background: radial-gradient(50% 50% at 50% 50%, #1ECC9C 0%, rgba(217, 217, 217, 0) 100%);
    opacity: 0.4;
}

.marginLeft42{
    margin-left: 4.2% !important;
}

.category {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color:#1ECCA2;
    padding-left: 10%;
    width: 90%;
}

.titleLeft { 
    /* margin-top: 150px; */
    margin-left: 9.5%;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 50px;
    /* or 119% */

    letter-spacing: -0.03em;

    color: #000000;
    /* border: 0.2px solid #000000; */
}

.titleCenter {
    margin-top: 120px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 50px;
    /* or 119% */

    letter-spacing: -0.03em;

    color: #000000;
    /* border: 0.2px solid #000000; */
    text-align: center;
}

.manager {
    display: inline-block;
    width:85%;
    height:400px;
    background-color: #eeeeee;
    padding-top: 2%;
    margin-left: 7.5%;
    padding-right: 1.6%;
    border-radius: 10px;
}

.manager img {
    padding-left: 2.5%;
    width: 30%;
    margin:auto;
}

.estimate {
    margin-top: 1%;
    display:inline-block;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    /* position: absolute;
    width: 636px;
    height: 436.28px; */
    width: 636px;
    height: 436.28px;
    margin-left: 84px;
}

.sampleImg1 {
    display: inline-block;
    width:80%;
    height:100%;
    padding-left: 20%;
}

.sampleImg2 {
    display: inline-block;
    width:68.5%;
    height:78.5%;
    padding-left: 28%;
}

.atOnce {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    /* or 129% */
    letter-spacing: -0.03em;
    color: #1D1D1D;
    display: inline-block;
    text-align: left !important;
}

.block3 {
    background: #F4F4F4;
    border-radius: 10px;
    display: inline-block;
    text-align: left;
    padding-left: 2%;
    width:45%;
    height:60%;
}

.box {
    margin-left: 23.8%;
    width: 52.916666%;
    height: 38%;
    background: #E1FFF8;
    border-radius: 10px;
    z-index: 1;
    align-items: center;
    padding-bottom: 3%;
    color:white;
}

.documents {
    color: #FFFFFF;
    margin-left: 15%;
    margin-top: 1%;
    padding-bottom: 3%;
    /* margin-bottom: 1%; */
    padding-top: 3%;
    text-align: center;
    width: 68%;
    height: 20%;
    background: #191919;
    border-radius: 10px;
}

.ad {
    width: 91.6666%;
    height: 45.253164557%;
    
}

.partners {
    width: 100%;

}

.service {
    width:12.2222%;
    height:14.899713467%;
}

.end {
    text-align: center;
    margin-top: 20%;
}

.sub {
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    /* line-height: 143%; */
    letter-spacing: -0.03em;
    color: #BBBBBB;
    margin-left: 9.5%;
}

.mask {
    width:84.6666%;
    height:22%;
    margin-left: 9.5%;
}

.seminars {
    margin-bottom: -10%;
    /* padding-bottom: 80%; */
    display:inline-block;
    width:22%;
    height:38.36317%;
    z-index: 1;
}

.seminar {
    text-align: left !important;
    display: inline-block;
    margin-left: 7%;
    margin-right: 3.5%;
    color: white;
    z-index: 2;
}

.padding {
    padding-left: 3.6%;
}

.reviewBlock {
    width:18.9%;
    height:55.8638083228%;
    align-items: center;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    padding: 2%;
    display: inline-block;

}

.reviewImg {
    width:11.356466877%;
    height:8.1264108352%;
    margin-bottom: -2.3%;
}

.cafe {
    font-style: normal;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: -0.03em;
    color: #AEAEAE;
    text-align: left !important;
    display: inline-block;
}

.client {
    font-weight: 500;
    font-size: 20px;
    text-align: left !important;
    display: inline-block;
    padding-left: 1.9%;
}

.review {
    text-align: left !important;
    line-height: 150%;
    letter-spacing: -0.03em;
}

.block{
    display: block; 
    text-align: left;
}

.type {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;

    letter-spacing: -0.03em;

    color: #000000;

}

.priceBlock {
    width:27%;
    /* height:55.8638083228%; */
    height: 180%;
    align-items: center;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    padding: 2%;
    display: inline-block;
    text-align: left !important;
}

.originalPrice {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.03em;
    /* text-decoration-line: line-through; */
    color: #C4C4C4;
}

.lineThrough {
    text-decoration-line: line-through;
}

.price {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 15%;

    letter-spacing: -0.03em;

    /* tmr_color-system/primary */

    color: #1ECCA2;

}

.note {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 10%;

    letter-spacing: -0.03em;

    /* tmr_color-system/grey_300 */

    color: #C4C4C4;
}

.exp {
    width: 100%;
    height: 130%;
}

.upTo70 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */
    letter-spacing: -0.03em;
    /* tmr_color-system/black_600 */
    color: #666666;
}

.emphasize {
    color: #1ECCA2;
}

.line {
    width: 712px;
    height: 0px;
    border: 1px solid #E0E0E0;
    display: inline-block;
    margin-bottom: 0.3%;
}
